################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CheckoutOrderTotalKata/v15
/Checkout/x64
/Checkout/Release
/Checkout/Debug
/Checkout/Checkout.vcxproj.user
/Debug
/CheckoutOrderTotalKata.VC.db
/googletest-master/googletest/samples
/Release/Checkout.pdb
/Release/Checkout.ipdb
/Release/Checkout.iobj
/x64/Release/Checkout.pdb
/x64/Release/Checkout.ipdb
/x64/Release/Checkout.iobj
/x64/Debug/GoogleTest.pdb
/x64/Debug/GoogleTest.ilk
/x64/Debug/GoogleTest.exe
/x64/Debug/Checkout.pdb
/x64/Debug/Checkout.ilk
/x64/Debug/Checkout.exe
