################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CheckoutOrderTotalKata/v15
/Checkout/x64
/Checkout/Release
/Checkout/Debug
/Checkout/Checkout.vcxproj.user
/x64
/Release
/Debug
/CheckoutOrderTotalKata.VC.db
/googletest-master/googletest/samples
